<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    {{ 'Welcome to' | translate }} {{ title }}!
  </h1>
  <div>{{ 'HELLO' | translate }}</div>
  <div [innerHTML]="'GREETING' | translate:{name: 'nicolas'}"></div>
  <label>
    {{ 'change' | translate }}
    <select #langSelect (change)="changeLang(langSelect.value)">
      <option *ngFor="let lang of langs" [value]="lang">
        {{ lang }}
      </option>
    </select>
  </label>
  <button (click)="showAlert()">click</button>
</div>
<h2>Here are some links to help you start: </h2>
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://github.com/angular/angular-cli/wiki">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
  </li>
</ul>

<router-outlet></router-outlet>
